* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(33, 33, 33);
  background-image: url(./light-book.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}

#loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease;
  z-index: 1000;
}

.loader-text {
  opacity: 0;
  animation: fadeText 4s ease-in-out 1s forwards;
  text-align: center;
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.poem {
  padding: 1rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
  align-items: flex-start;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.combined {
  margin-top: 0;
  padding: 0;
}
.line-gap {
  margin-bottom: 1rem;
}

.changing {
  display: inline-block;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fade {
  opacity: 0.3;
}

.site-footer {
  color: rgb(83, 83, 83);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  position: relative;
  margin-top: 3rem;
  bottom: 0;
  width: 100%;
}

.site-footer a {
  color: #435a6c;
  text-decoration: none;
}

.site-footer a:hover {
  color: #394f61;
  cursor: pointer;
}
