* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(33, 33, 33);
  background-image: url(./light-book.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffeaea;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}

.poem {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
  align-items: flex-start;
  text-align: left;
}
.combined {
  margin-top: 0;
  padding: 0;
}
.line-gap {
  margin-bottom: 1rem;
}

.changing {
  display: inline-block;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fade {
  opacity: 0.3;
}


